/* modal 开始 */
.ant-modal .ant-modal-content{
    border-radius: 8px;
    background-color: var(--w-alpha);
}

.ant-modal-root .ant-modal-mask{
    background-color: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(5px);
}

.ant-modal .ant-modal-content .ant-modal-close-icon{
    color: var(--b-alpha-90);
}
/* modal 结束 */

/* message 开始 */
.ant-message .ant-message-notice-content{
    border-radius: 20px;
    font-size: 12px;
    padding: 6px 12px;
}
/* message 结束 */

/* drawer 开始 */
.ant-drawer .ant-drawer-body{
    padding: 8px 24px 12px;
}

.ant-drawer .ant-drawer-header{
    border-bottom-color: var(--b-alpha-10);
    background-color: transparent;
}

.ant-drawer .ant-drawer-content{
    background-color: var(--w-alpha-80);
    backdrop-filter: blur(5px);
}
/* drawer 结束 */