/* modal 开始 */
.ant-modal .ant-modal-content{
    border-radius: 8px;
    background-color: var(--w-alpha);
}

.ant-modal-root .ant-modal-mask{
    background-color: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(5px);
}

.ant-modal .ant-modal-content .ant-modal-close-icon{
    color: var(--b-alpha-90);
}
/* modal 结束 */

/* message 开始 */
.ant-message .ant-message-notice-content{
    border-radius: 20px;
    font-size: 12px;
    padding: 6px 12px;
}
/* message 结束 */

/* drawer 开始 */
.ant-drawer .ant-drawer-body{
    padding: 8px 24px 12px;
}

.ant-drawer .ant-drawer-header{
    border-bottom-color: var(--b-alpha-10);
    background-color: transparent;
}

.ant-drawer .ant-drawer-content{
    background-color: var(--w-alpha-80);
    backdrop-filter: blur(5px);
}

.ant-drawer .ant-drawer-close,.ant-drawer .ant-drawer-title{
    color: var(--b-alpha-90);
}
/* drawer 结束 */

/* select 开始 */
.ant-select{
    color: var(--b-alpha-90) !important;
    font-size: 12px !important;
}

.ant-select .ant-select-selector{
    border-radius: 8px !important;
    background-color: transparent !important;
    border-color: var(--b-alpha-30) !important;
    outline-color: var(--w-alpha-50) !important;
    box-shadow: none !important;
}

.ant-select .ant-select-arrow{
    color: var(--b-alpha-90) !important;
}

.ant-select-dropdown{
    background-color: var(--w-alpha) !important;
}

.ant-select-dropdown .ant-select-item{
    color: var(--b-alpha-90) !important;
    font-size: 13px !important;
}

.ant-select-dropdown .ant-select-item-option-selected{
    background-color: var(--b-alpha-30) !important;
    color: var(--b-alpha) !important;
}

.ant-select-dropdown .ant-select-item-option-active{
    background-color: var(--b-alpha-20) !important;
    color: var(--b-alpha-90) !important;
}
/* select 结束 */